<mat-card>Ingrese los datos del paciente</mat-card>

<br/>

<!--<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">-->

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required [(ngModel)]="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" required [(ngModel)]="nombres">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos" required [(ngModel)]="apellidos">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required [(ngModel)]="dni" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dirección" required [(ngModel)]="direccion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" required [(ngModel)]="telefono" type="number" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="email" required [(ngModel)]="email" type="email" >
  </mat-form-field>
<br/>
  <button mat-raised-button color="primary" type="submit" (click)="operar()">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="accent" (click)="cancelar()" type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
<!--</form>-->

<br/>