<mat-card>Advertencia ......Desea Eliminar?</mat-card>

<br/>

<!--<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">-->

<div [hidden]="true">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID" required [(ngModel)]="idSigno">
  </mat-form-field>
</div>
<div style="line-height: 120%">
  
  <br/>
  <p> Los signos del Paciente:</p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="font-weight:bold;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nombres}} {{apellidos}}
    </p>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;
<br/>

<button mat-raised-button color="primary" type="submit" (click)="operar()">
  <mat-icon>done</mat-icon>
  <span>Aceptar</span>
</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="accent" (click)="cancelar()" type="button">
  <mat-icon>close</mat-icon>
  <span>Cancelar</span>
</button>
<!--</form>-->

<br/>