.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 90%;
  }
  
  .ancho-100 {
    width: 100%;
  }
  
  .grid-container-2 {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .grid-container-2>div {
    /*padding:20px 0;*/
    padding: 0px;
    margin: 0px;
  }
  .grid-container-3 {
    display: grid;
    grid-template-columns: 40% 35% auto;
    grid-column-gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .grid-container-3>div {
    padding: 0px;
    margin: 0px;
  }