.example-card {
    max-width: 400px;
    margin-left: auto;
margin-right: auto;

  }
  
  .example-header-image {
    background-image: url('/assets/user.png');
    
    background-size:  cover;
    
  }