<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre de Usuario</mat-card-title>
    <mat-card-subtitle style="size: 3em;"><h1>{{nombre}}</h1></mat-card-subtitle>
  </mat-card-header>
 
  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Roles del Usuario Seleccionado:</h3>
      <mat-list-item *ngFor="let rol of roles">
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <h4 mat-line>{{rol}}</h4>
       
      </mat-list-item>
    
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary" routerLink='/paciente'>Regresar</button>
    
    
  </mat-card-actions>
</mat-card>

