
<router-outlet></router-outlet>


<div class="example-container mat-elevation-z8" *ngIf="route.children.length === 0">
  <mat-toolbar>Signos de los Pacientes</mat-toolbar>


  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar paciente">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

  
    <ng-container matColumnDef="paciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pacientes </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.nombres}} {{row.paciente.apellidos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['detalle', row.idSigno]">Detalle</button>
        <button mat-button color="primary" [routerLink]="['edicion', row.idSigno]">Actualizar</button>
        <button mat-button color="accent" (click)="openDialogoEliminar(row)" >Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>
  <br/>
  <br/>
  <button mat-fab color="accent" style="float: right" routerLink='/signos/nuevo'>
    <mat-icon>create</mat-icon>
  </button>
</div>



