<div class="example-container">
<div [hidden]="true">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID" required [(ngModel)]="id">
  </mat-form-field>
</div>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Nombre" required [(ngModel)]="nombre">
</mat-form-field>


<mat-form-field>
  <mat-select placeholder="Roles" [(value)]="rolesSeleccionado">
    <mat-option *ngFor="let rol of roles" [value]="rol">
      {{ rol.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" type="button" (click)="agregarRoles()">Agregar Roles</button>


<mat-toolbar *ngIf="rolesGuardados.length===0">No hay Nuevos Roles agregados</mat-toolbar>
 <mat-toolbar>Roles Asignados: </mat-toolbar>
<mat-toolbar *ngFor="let r of rolesGuardados; let i=index">
     {{r.nombre}}
    <span class="example-spacer"></span>
   
</mat-toolbar>
<div style="width: 40%; display: flex;">
<mat-toolbar *ngIf="rolesSeleccionados.length===0">No hay Nuevos Roles agregados</mat-toolbar>
<mat-toolbar *ngIf="rolesSeleccionados.length!=0">Roles a Asignar:</mat-toolbar>
<mat-toolbar *ngFor="let r of rolesSeleccionados; let i=index">
 
  
  <br/><p> {{r.nombre}} 

  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" type="button" (click)="removerExamen(i)">Remover</button>

</mat-toolbar>
</div>
<button mat-raised-button color="primary" type="submit" (click)="aceptar()">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <button mat-raised-button color="accent" routerLink='/menurol' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</div>

  
