<mat-card>Ingrese los datos del Menu</mat-card>
<div class="example-container"> 
<div [hidden]="true">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID" required [(ngModel)]="id">
  </mat-form-field>
</div>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Nombre" required [(ngModel)]="nombre">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Nombre del Icono" required [(ngModel)]="icono">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Dirección de Url" required [(ngModel)]="url" type="url">
</mat-form-field>

<button mat-raised-button color="primary" (click)="operar()" type="submit" >
  <mat-icon>done</mat-icon>
  <span>Aceptar</span>
</button>
<button mat-raised-button color="accent" routerLink='/menu' type="button">
  <mat-icon>close</mat-icon>
  <span>Cancelar</span>
</button></div>