<mat-card class="example-card" >
  <mat-card-header>
    
    <h1><mat-card-title style="font-size: 1.5em;" >{{nombres}}  {{apellidos}}</mat-card-title></h1>
   
  </mat-card-header>
  
  <mat-card-content style="font-size: 1em; line-height: 2.1;">
    <div>
    <p>
        Pulso: <b>{{pulso}}</b> 
    </p>
    <p>
      Temperatura: {{temperatura}}
    </p>
  </div>
  <div>
    <p>
      Ritmo Respiratorio: {{ritmoRespiratorio}}
    </p>
    <p>
      Fecha: {{fecha}}
    </p>
  </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" routerLink='/signos'>Regresar</button>
    
  </mat-card-actions>
</mat-card>