<mat-toolbar>Registro de Consulta</mat-toolbar>

<div class="example-container">
    
  <form  [formGroup]="form"   #loginForm="ngForm">
     
    
  <mat-form-field style="width: 77%;">
    <input  type="text"  placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControlSignos" formControlName="paciente" >
    <mat-autocomplete   #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
      <mat-option *ngFor="let p of filteredOptions | async" [value]="p" >
        {{ p.nombres }} {{p.apellidos}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>&nbsp; &nbsp;
  <button style="width: 20%;" mat-raised-button color="primary" (click)="openDialog()"  >Nuevo Paciente</button>
  </form>
 
  
  
  

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required [(ngModel)]="id">
      </mat-form-field>
    </div>
   <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" [(ngModel)]="fechaSeleccionada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Temperatura" [(ngModel)]="temperatura" required>
  </mat-form-field>

  
  <mat-form-field>
    <input type="number"min="40"
    max="300" matInput placeholder="Pulso" [(ngModel)]="pulso" required>
  </mat-form-field>
  <mat-form-field>
    <input type="number"min="10"
    max="100" matInput placeholder="Ritmo Respiratorio" [(ngModel)]="ritmoRespiratorio" required>
  </mat-form-field >

  

 

  <button mat-raised-button color="primary"  (click)="operar()" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signos' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>

</div>